body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #eb9ae5;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%239C92AC' fill-opacity='0.23' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.app-container {
  height: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.quote-container {
  border: 2px solid black;
  width: 900px;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fdebd3;
  opacity: 0.6;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.author-button {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

button {
  padding: 3px;
  margin: 3px;
  font-size: x-large;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

#quote {
  font-size: 26px;
  font-weight: 500;
  padding: 5px;
  font-family: cursive;
  padding-left: 20px;
}

#author {
  font-size: 25px;
  padding-left: 20px;
  font-weight: bold;
}

#author::before {
  content: "-";
  padding-right: 2px;
  padding-bottom: 5px;
}

#icon {
  margin-right: auto;
  font-size: x-large;
}

@media only screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }
}
