* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url("../public/kanban-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html {
  font-size: 24px;
}

.app-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#heading {
  text-align: center;
  color: rgb(169, 228, 228);
  margin: 10px 0;
}

.board-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  margin: 20px 0;
}

.column {
  background-color: rgb(79, 76, 76);
  height: 85%;
  border: 2px solid black;
  padding: 15px;
  width: 20%;
  border-radius: 15px;
  opacity: 0.8;
  overflow: hidden;
  overflow-y: scroll;
}

.column-heading {
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 5px;
}

.backlog {
  background-color: rgb(245, 55, 55, 1);
}

.inprogress {
  background-color: rgb(232, 232, 94);
}

.complete {
  background-color: rgb(92, 214, 92);
}

.onhold {
  background-color: orange;
}

/* .backlog-content {
  max-height: 92%;
  overflow-y: scroll;
} */
