#add-btn {
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
  width: 100%;
  color: white;
  cursor: pointer;
  width: fit-content;
  background-color: black;
  padding-bottom: 5px;
}

.list-items {
  margin-top: 40px;
  position: relative;
}

.item {
  color: white;
  background-color: rgb(40, 38, 38);
  margin: 25px 0;
  padding: 8px 5px;
  border-radius: 5px;
  cursor: pointer;
}

#save {
  font-size: 0.8rem;
  position: absolute;
  top: -25;
  right: 0;
  padding: 2px;
  cursor: pointer;
  background-color: rgb(90, 170, 202);
}

#input {
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  margin-top: 10px;
  height: 80px;
  background-color: white;
}
